.container {
    border: 5px solid #000;
}

.row {
    border: 1px solid red;
}

.pink {
    background: pink;
}

.orange {
    background: orange;
}

.blue {
    background: blue;
}

.green {
    background: green;
}
